<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Andrii</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>VKPlayerHotkeys</string>
	<key>CFBundleIdentifier</key>
	<string>info.atfop.vkplayerhotkeys</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>Global.html</string>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array>
		<string>atfop.info</string>
	</array>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>VK Player Hotkeys</string>
	<key>DeveloperIdentifier</key>
	<string>J4NANQ9H36</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/andriitishchenko/vkPlayerControlManager/blob/master/VKPlayerHotkeys.safariextz</string>
	<key>Website</key>
	<string>https://github.com/andriitishchenko/vkPlayerControlManager</string>
</dict>
</plist>
